Repository cloudwalk/brlc-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: Asset Transit Desk, Balance Freezer, Balance Tracker, Blueprint, Capybara Finance, Card Payment Processor, Card Payment Processor V2, Cashier, Credit Agent, Multisig, Net Yield Distributor, Periphery, Shared Wallet Controller, BRLC Token, Treasury, contract-blueprint, contract-token

codecov.yaml:

component_management:
  individual_components:
    - component_id: contract-asset-transit-desk
      name: Asset Transit Desk
      paths:
        - "contracts/asset-transit-desk/**"
    - component_id: contract-balance-freezer
      name: Balance Freezer
      paths:
        - "contracts/balance-freezer/**"
    - component_id: contract-balance-tracker
      name: Balance Tracker
      paths:
        - "contracts/balance-tracker/**"
    - component_id: contract-blueprint
      name: Blueprint
      paths:
        - "contracts/blueprint/**"
    - component_id: contract-capybara-finance
      name: Capybara Finance
      paths:
        - "contracts/capybara-finance/**"
    - component_id: contract-card-payment-processor
      name: Card Payment Processor
      paths:
        - "contracts/card-payment-processor/**"
    - component_id: contract-card-payment-processor-v2
      name: Card Payment Processor V2
      paths:
        - "contracts/card-payment-processor-v2/**"
    - component_id: contract-cashier
      name: Cashier
      paths:
        - "contracts/cashier/**"
    - component_id: contract-credit-agent
      name: Credit Agent
      paths:
        - "contracts/credit-agent/**"
    - component_id: contract-multisig
      name: Multisig
      paths:
        - "contracts/multisig/**"
    - component_id: contract-net-yield-distributor
      name: Net Yield Distributor
      paths:
        - "contracts/net-yield-distributor/**"
    - component_id: contract-periphery
      name: Periphery
      paths:
        - "contracts/periphery/**"
    - component_id: contract-shared-wallet-controller
      name: Shared Wallet Controller
      paths:
        - "contracts/shared-wallet-controller/**"
    - component_id: contract-token
      name: BRLC Token
      paths:
        - "contracts/token/**"
    - component_id: contract-treasury
      name: Treasury
      paths:
        - "contracts/treasury/**"

comment:
  layout: "header, diff, flags, components"

codecov.yml:

component_management:
  individual_components:
    - component_id: contract-blueprint
      paths:
        - "contracts/blueprint/**"
    - component_id: contract-token
      paths:
        - "contracts/token/**"

comment:
  layout: "header, diff, flags, components"

activate stratus tests everywhere
  contracts/asset-transit-desk/package.json
  contracts/balance-freezer/package.json
  contracts/balance-tracker/package.json
  contracts/blueprint/package.json
  contracts/capybara-finance-v2/package.json
  contracts/card-payment-processor-v2/package.json
  contracts/card-payment-processor/package.json
  contracts/cashier/package.json
  contracts/credit-agent/package.json
  contracts/multisig/package.json
  contracts/net-yield-distributor/package.json
  contracts/periphery/package.json
  contracts/shared-wallet-controller/package.json
  contracts/treasury/package.json
Due: Asset Transit Desk, Balance Freezer, Balance Tracker, Blueprint, Card Payment Processor, Card Payment Processor V2, Cashier, Credit Agent, Multisig, Net Yield Distributor, Periphery, Shared Wallet Controller, Treasury, contract-blueprint

corect run stratus bin
  .github/workflows/branch-e2e.yml
Due: none

signatures only on main branch
  .github/workflows/signatures.yml
Due: none

branch tests e2e
  .github/workflows/branch-e2e.yml
Due: none

local stratus image. Disabled a couplt of contracts
  contracts/capybara-finance-v2/package.json
  contracts/credit-agent/package.json
  contracts/shared-wallet-controller/package.json
  package.json
  scripts/get-contracts-for-stratus-test.js
  scripts/stratus/Dockerfile.stratus
  scripts/stratus/compose.yaml
Due: Credit Agent, Shared Wallet Controller

only fail test
  contracts/token/test/BRLCToken.test.ts
Due: BRLC Token, contract-token

enable more tests
  contracts/capybara-finance/package.json
  contracts/token/test/BRLCToken.test.ts
Due: Capybara Finance, BRLC Token, contract-token

e2e tests jobs
  .github/legacy/sync-legacy-repos.yml
  .github/workflows/branch-e2e.yml
Due: none

deps: update deps
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

ci: cleanup wfs
  .github/workflows/branch-e2e.yml
Due: none

cleanup
  .github/workflows/branch-e2e.yml
  Dockerfile
Due: none

build: deploy `cBRLC` token in Staging
  contracts/token/.openzeppelin/unknown-2008.json
Due: BRLC Token, contract-token

build: deploy `CPPv1` for `cBRLC` token in Staging
  contracts/card-payment-processor/.openzeppelin/unknown-2008.json
Due: Card Payment Processor

build: deploy `CPPv2` for `cBRLC` token in Staging
  contracts/card-payment-processor-v2/.openzeppelin/unknown-2008.json
Due: Card Payment Processor V2

ci: dont create draft
  .github/workflows/signatures.yml
Due: none

dont run tests in paralel
  .github/workflows/branch.yml
Due: none
