Repository cloudwalk/brlc-monorepo: changes, and which Codecov flags are due for each by the changed paths.
All: contract-blueprint, contract-token

shared ts
  README.md
  contracts/blueprint/package.json
  contracts/token/package.json
  package.json
  packages/chainshot/package.json
  pnpm-lock.yaml
Due: contract-blueprint, contract-token

doc: some docs chaged
  .cursor/rules/general-rules.mdc
  .cursor/rules/security-rule.mdc
  contracts/.cursor/rules/solidity-example-project.mdc
  contracts/.cursor/rules/solidity-rules.mdc
  contracts/blueprint/README.md
  contracts/blueprint/cursor/rules/solidity-example-project.mdc
  contracts/blueprint/scripts/updateExampleProject.ts
  contracts/token/README.md
  docs/DEVELOPMENT.md
Due: contract-blueprint, contract-token

ci: linting on precommit
  .husky/pre-commit
  contracts/blueprint/contracts/interfaces/IBlueprintTypes.sol
  eslint.config.js
  package.json
  pnpm-lock.yaml
Due: contract-blueprint

ci: linting on precommit
  .github/workflows/branch.yml
  README.md
  codecov.yaml
  contracts/blueprint/README.md
  contracts/blueprint/contracts/interfaces/IBlueprintTypes.sol
  docs/NPM.md
  eslint.config.js
  package.json
  packages/chainshot/README.md
  packages/chainshot/eslint.config.js
  packages/chainshot/package.json
  pnpm-lock.yaml
  prettier.config.js
Due: contract-blueprint

dep: fix chai dep
  contracts/blueprint/package.json
  contracts/token/package.json
  packages/chainshot/package.json
  pnpm-lock.yaml
Due: contract-blueprint, contract-token

shorten ci
  .github/workflows/sync-legacy-repos.yml
Due: none

all contracts
  .github/actions/coverage/action.yml
  contracts/asset-transit-desk/package-lock.json
  contracts/asset-transit-desk/package.json
  contracts/balance-freezer/package-lock.json
  contracts/balance-freezer/package.json
  contracts/balance-tracker/package-lock.json
  contracts/balance-tracker/package.json
  contracts/capybara-finance/package-lock.json
  contracts/capybara-finance/package.json
  contracts/card-payment-processor-v2/package-lock.json
  contracts/card-payment-processor-v2/package.json
  contracts/card-payment-processor/package-lock.json
  contracts/card-payment-processor/package.json
  contracts/cashier/package-lock.json
  contracts/cashier/package.json
  contracts/credit-agent/package-lock.json
  contracts/credit-agent/package.json
  contracts/multisig/package-lock.json
  contracts/multisig/package.json
  contracts/net-yield-distributor/package-lock.json
  contracts/net-yield-distributor/package.json
  contracts/periphery/package-lock.json
  contracts/periphery/package.json
  contracts/shared-wallet-controller/package-lock.json
  contracts/shared-wallet-controller/package.json
  contracts/treasury/package-lock.json
  contracts/treasury/package.json
  pnpm-lock.yaml
  scripts.sh
Due: none

feat: delete wallet and new validations (#12)
  .cursor/rules/solidity-example-project.mdc
  .cursorignore
  CHANGELOG.md
  contracts/SharedWalletController.sol
  contracts/base/UUPSExtUpgradeable.sol
  contracts/interfaces/ISharedWalletController.sol
  hardhat.config.ts
  package-lock.json
  package.json
  test-utils/common.ts
  test-utils/eth.ts
  test/SharedWalletController.test.ts
  test/TransferScenarios.test.ts
  test/base/AccessControlExtUpgradeable.test.ts
  test/base/PausableExtUpgradeable.test.ts
  test/base/RescuableUpgradeable.test.ts
  test/base/UUPSExtUpgradeable.test.ts
  tsconfig.json
Due: none

build: contract upgrade (#16)
  .openzeppelin/unknown-2008.json
  .openzeppelin/unknown-2009.json
  CHANGELOG.md
  contracts/base/Versionable.sol
  test/NetYieldDistributor.test.ts
Due: none

docs: create `ROLE_CONFIGURATION.md` (#9)
  ROLE_CONFIGURATION.md
Due: none

doc: changelog
  .cursorignore
  .github/workflows/smartcontracts-branch-monorepo.yml
  .github/workflows/sync-legacy-repos.yml
  README.md
  catalog-info.yaml
  codecov.yaml
  contracts/asset-transit-desk/README.md
  contracts/asset-transit-desk/package.json
  contracts/balance-freezer/README.md
  contracts/balance-freezer/package.json
  contracts/balance-tracker/README.md
  contracts/balance-tracker/package.json
  contracts/blueprint/.cursorignore
  contracts/blueprint/SOMECHANGES
  contracts/blueprint/package.json
  contracts/capybara-finance/README.md
  contracts/capybara-finance/package.json
  contracts/card-payment-processor-v2/README.md
  contracts/card-payment-processor-v2/package.json
  contracts/card-payment-processor/README.md
  contracts/card-payment-processor/package.json
  contracts/cashier/README.md
  contracts/cashier/package.json
  contracts/cashier/test/CashierSharded.test.ts
  contracts/credit-agent/README.md
  contracts/credit-agent/package.json
  contracts/multisig/README.md
  contracts/multisig/package.json
  contracts/net-yield-distributor/.cursorignore
  contracts/net-yield-distributor/README.md
  contracts/net-yield-distributor/package.json
  contracts/periphery/README.md
  contracts/periphery/package.json
  contracts/shared-wallet-controller/README.md
  contracts/shared-wallet-controller/package.json
  contracts/token/package.json
  contracts/treasury/README.md
  contracts/treasury/package.json
  pnpm-lock.yaml
Due: contract-blueprint, contract-token

autosync only token
  .github/workflows/sync-legacy-repos.yml
Due: none

add cf2 and update pnpm
  contracts/capybara-finance-v2/.cursorignore
  contracts/capybara-finance-v2/.github/CODEOWNERS
  contracts/capybara-finance-v2/.github/workflows/branch.yml
  contracts/capybara-finance-v2/.husky/pre-commit
  contracts/capybara-finance-v2/.tool-versions
  contracts/capybara-finance-v2/README.md
  contracts/capybara-finance-v2/docs/media/brlc-cover.png
  contracts/capybara-finance-v2/eslint.config.js
  contracts/capybara-finance-v2/package-lock.json
  contracts/capybara-finance-v2/package.json
  package.json
  pnpm-lock.yaml
Due: none

use shared dev dependencies
  contracts/asset-transit-desk/package.json
  contracts/balance-freezer/package.json
  contracts/balance-tracker/package.json
  contracts/blueprint/package.json
  contracts/capybara-finance-v2/package.json
  contracts/capybara-finance-v2/tsconfig.json
  contracts/capybara-finance/package.json
  contracts/card-payment-processor-v2/package.json
  contracts/card-payment-processor/package.json
  contracts/cashier/package.json
  contracts/credit-agent/package.json
  contracts/multisig/package.json
  contracts/net-yield-distributor/package.json
  contracts/periphery/package.json
  contracts/shared-wallet-controller/package.json
  contracts/token/package.json
  contracts/treasury/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: contract-blueprint, contract-token

add ethers to direct deps
  contracts/asset-transit-desk/package.json
  contracts/balance-freezer/package.json
  contracts/balance-tracker/package.json
  contracts/blueprint/package.json
  contracts/capybara-finance-v2/package.json
  contracts/capybara-finance/package.json
  contracts/card-payment-processor-v2/package.json
  contracts/card-payment-processor/package.json
  contracts/cashier/package.json
  contracts/credit-agent/package.json
  contracts/multisig/package.json
  contracts/net-yield-distributor/package.json
  contracts/periphery/package.json
  contracts/shared-wallet-controller/package.json
  contracts/token/package.json
  contracts/treasury/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: contract-blueprint, contract-token

more direact packages
  contracts/asset-transit-desk/package.json
  contracts/balance-freezer/package.json
  contracts/balance-tracker/package.json
  contracts/blueprint/package.json
  contracts/capybara-finance-v2/package.json
  contracts/capybara-finance-v2/tsconfig.json
  contracts/capybara-finance/package.json
  contracts/card-payment-processor-v2/package.json
  contracts/card-payment-processor/package.json
  contracts/cashier/package.json
  contracts/credit-agent/package.json
  contracts/multisig/package.json
  contracts/net-yield-distributor/package.json
  contracts/periphery/package.json
  contracts/shared-wallet-controller/package.json
  contracts/token/package.json
  contracts/treasury/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: contract-blueprint, contract-token

ovverride deps
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

build: deploy `CreditAgentCapybaraV1` in Testnet
  contracts/credit-agent/.openzeppelin/unknown-2008.json
Due: none

build: deploy `CreditAgentCapybaraV1` in Mainnet
  contracts/credit-agent/.openzeppelin/unknown-2009.json
Due: none

prettier
  .github/workflows/branch.yml
  .gitignore
  .husky/pre-commit
  .prettierignore
  pnpm-workspace.yaml
Due: none

prettier (#15)
  .github/workflows/branch.yml
  .gitignore
  .husky/pre-commit
  .prettierignore
  pnpm-workspace.yaml
Due: none

signatures script
  .github/workflows/signatures.yml
  .gitignore
  contracts/credit-agent/.tool-versions
  contracts/credit-agent/contracts/CreditAgent.sol
  contracts/shared-wallet-controller/.tool-versions
  generate-signatures.bash
Due: none

wf
  .github/workflows/signatures.yml
  stratus-integration/generate-signatures.bash
Due: none

use env for mise
  Dockerfile
  stratus-integration/generate-signatures.bash
Due: none

add pr workflow
  .github/workflows/signatures.yml
  stratus-integration/generate-signatures.bash
Due: none

add pr workflow
  .github/workflows/signatures.yml
Due: none

stratus
  .github/workflows/signatures.yml
Due: none

feat: change the `SubLoanTaken` and `SubLoanUpdated` events
  contracts/capybara-finance-v2/CHANGELOG.md
  contracts/capybara-finance-v2/contracts/LendingEngineV2.sol
  contracts/capybara-finance-v2/contracts/interfaces/ILendingMarketV2.sol
  contracts/capybara-finance-v2/test/LendingMarketV2.test.ts
Due: none

fix: change the rounding approach of individual sub-loan fields
  contracts/capybara-finance-v2/CHANGELOG.md
  contracts/capybara-finance-v2/contracts/LendingEngineV2.sol
  contracts/capybara-finance-v2/contracts/LendingMarketV2.sol
  contracts/capybara-finance-v2/contracts/core/LendingMarketV2Core.sol
  contracts/capybara-finance-v2/contracts/interfaces/ILendingMarketV2.sol
  contracts/capybara-finance-v2/docs/description.md
  contracts/capybara-finance-v2/test/LendingMarketV2.test.ts
Due: none

feat: remove some previously introduced fields in view structures
  contracts/capybara-finance-v2/CHANGELOG.md
  contracts/capybara-finance-v2/contracts/LendingMarketV2.sol
  contracts/capybara-finance-v2/contracts/interfaces/ILendingMarketV2.sol
  contracts/capybara-finance-v2/test/LendingMarketV2.test.ts
Due: none

fix: apply minimum value rule for financial rounding
  contracts/capybara-finance-v2/contracts/LendingEngineV2.sol
  contracts/capybara-finance-v2/contracts/LendingMarketV2.sol
  contracts/capybara-finance-v2/contracts/core/LendingMarketV2Core.sol
  contracts/capybara-finance-v2/contracts/interfaces/ILendingMarketV2.sol
  contracts/capybara-finance-v2/docs/description.md
  contracts/capybara-finance-v2/test/LendingMarketV2.test.ts
Due: none

feat: regroup the sub-loan related part
  contracts/capybara-finance-v2/CHANGELOG.md
  contracts/capybara-finance-v2/contracts/LendingEngineV2.sol
  contracts/capybara-finance-v2/contracts/LendingMarketV2.sol
  contracts/capybara-finance-v2/contracts/interfaces/ILendingMarketV2.sol
  contracts/capybara-finance-v2/test/LendingMarketV2.test.ts
Due: none

style: add empty lines to group fields in long structures
  contracts/capybara-finance-v2/contracts/interfaces/ILendingMarketV2.sol
Due: none

fix: improve the logic of the grace period status
  contracts/capybara-finance-v2/contracts/LendingEngineV2.sol
  contracts/capybara-finance-v2/contracts/core/Constants.sol
Due: none

Path conditions:
  contract-blueprint: any of: contracts/blueprint/**
  contract-token: any of: contracts/token/**
